


@font-face {
    font-family: $ff-EurostileExtendedRegular;
    src: url(../assets/fonts/Eurostile/EurostileExtended-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: $ff-EurostileExtendedBold;
    src: url(../assets/fonts/Eurostile/EurostileExtended-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: $ff-InterExtraLight;
    src: url(../assets/fonts/Inter/static/Inter-ExtraLight.ttf);
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: $ff-InterLight;
    src: url(../assets/fonts/Inter/static/Inter-Light.ttf);
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: $ff-InterRegular;
    src: url(../assets/fonts/Inter/static/Inter-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: $ff-InterMedium;
    src: url(../assets/fonts/Inter/static/Inter-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: $ff-InterSemiBold;
    src: url(../assets/fonts/Inter/static/Inter-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}







