
$color-white: #FFFFFF;
$color-black: #000000;



$ff-EurostileExtendedRegular: 'EurostileExtended-Regular';
$ff-EurostileExtendedBold: 'EurostileExtended-Bold';

$ff-InterExtraLight: 'Inter-ExtraLight';
$ff-InterLight: 'Inter-Light';
$ff-InterRegular: 'Inter-Regular';
$ff-InterMedium: 'Inter-Medium';
$ff-InterSemiBold: 'Inter-SemiBold';