

#deals{
    
    margin-top: 60px;

    .wrapper{
        display: flex;
        align-items: center;
        flex-direction: column;

        .deals__title{
            @include font-style(30px, $ff-EurostileExtendedRegular, $color-black, uppercase);
            letter-spacing: 5%;
            margin-bottom: 34px;
        }
        .deals-cards{
            display: flex;
            flex-direction: column;
            row-gap: 34px;
            &__top{
                display: flex;
                align-items: center;
                column-gap: 13px;
            }
            &__item{
                border: 1px solid #D9D9D9;
                border-radius: 8px;
                background-color: #F1F0EB;
                width: 325px;
                height: 325px;
                padding: 20px;
                position: relative;
                cursor: pointer;
                transition: all 0.3s ease;
                &--header{
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 168px;
                    &-left{
                        @include font-style(16px, $ff-EurostileExtendedRegular, $color-black);
                    }
                    &-right{
                        @include font-style(16px, $ff-EurostileExtendedRegular, #4071CB);
                        letter-spacing: 12%;
                        position: relative;
                        &::before{
                            content: "";
                            width: 5px;
                            height: 5px;
                            background-color: #4071CB;
                            border-radius: 50%;
                            position: absolute;
                            top: 5px;
                            left: -7px;
                        }
                    }
                    span{
                        margin-top: 6px;
                        display: block;
                        @include font-style(13px, $ff-EurostileExtendedRegular, $color-black);
                    }
                }
                &--name{
                    
                    @include font-style(46px, $ff-EurostileExtendedBold, $color-white, uppercase);
                    letter-spacing: 8px;
                    position: absolute;
                    top: 25%;
                    left: 48%;
                    transform: translate(-50%, -50%);
                    transition: all 0.3s ease;
                }
                .name-size{
                    font-size: 30px;
                }
                &--img{
                   position: absolute;
                   top: 48%;
                   left: 50%;
                   transform: translate(-50%, -50%);
                }
                &--functions{
                    display: flex;
                    align-items: center;
                    column-gap: 20px;
                    margin-bottom: 10px;
                    span{
                        display: flex;
                        align-items: center;
                        column-gap: 5px;
                    }
                }
                &--bottom{
                    @include font-style(12px, $ff-EurostileExtendedRegular, $color-black, uppercase);
                    letter-spacing: 17%;
                    border: 1px solid $color-black;
                    border-radius: 8px;
                    padding: 14.5px 0px;
                    text-align: center;
                }

                &:hover{
                    background-color: $color-white;
                }
                &:hover .deals-cards__item--name{
                    color: #D9D9D9;
                }
            }
        }
    }
}